
.dottoggle::after {
  content: none; 
}

.dottoggle{
  color:grey;
}

.dotmenu{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border:transparent;
  min-width: 8rem;
  font-size: 14px;
}

.nombrecliente{
  font-size: 1rem;
  margin:1rem;
  display:flex;
  align-items: center;
}
.sesiontoggle{
  display: flex;
  align-items: center;
  text-decoration: none; 
}

.sessionmenu{
  border: transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5rem;
}

.icon{
  color:grey;
  font-size: 14px;
  padding-right: 10px;
}
.top{
  border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}
.head{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}
.responsiveImg{
  margin-left: 1rem;
  max-width: 10rem;
  height: 100%;
  height: auto;
}

.titulo{
  align-items:end;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  justify-content: center;
}

.divbtn{
  display: flex;
  justify-content: center;
}

.btn-emp{
  width:90%;
  background-color: white;
  border-radius: 1rem;
  border:2px solid #e0ae43de;
  min-height: 2rem;
  color:#e0ae43de;
}

.btn-emp:hover{
  font-weight: bold;
  background-color: white;
  border-radius: 1rem;
  border:2px solid #f3b52fde;
  color:#e0ae43de;
  min-height: 2rem;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border:transparent;
  background-color:  #fdfdfd;
}



.btn-post{
  width: 15rem;
  border:transparent;
  border-radius: 0.5rem;
  background-color:#e0ae43de;
  border:1px solid #e0ae43de;
  color:white;
  min-height: 2rem;
  padding: auto;
}

.group-cards{
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .group-cards{
    width: 70rem;
    justify-content: center;
  }
  .section{
    padding-top:1rem;
  }
}


@media only screen and (min-width: 600px) {
  .group-cards{
    width: 80rem;
    justify-content: center;
  }
  .section{
    padding-top:1rem;
  }
} 

@media only screen and (min-width: 850px){
  .group-cards{
    width: 80rem;
    justify-content: center;
  }
  .section{
    padding-top:1rem;
  }
}
