@media only screen and (max-width: 600px) {
  .descripcion {
    font-size: 0.8rem;
    padding-left: 0.5rem;
  }
  .nombrecliente{
    font-size: 0.6rem;
    margin:0rem;
    margin-left:0.5rem;
  }
  .responsiveImg{
    margin-left: 0rem;
    max-width: 6rem;
    height: 100%;
    height: auto;
  }
  .head{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.8rem;
  }
  .titulo{
    font-size: 1rem;
    color: grey;
    padding: 0.6rem;
    padding-top: 1rem;
  }
  .card{
    margin-left: 1rem;
    margin-right: 1rem;
    margin: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .descripcion {
    font-size: 1rem;
    padding-left: 1rem;
  }
  .nombrecliente{
    font-size: 1rem;
    margin:0.5rem;
  }
  .responsiveImg{
    margin-left: 0.7rem;
    max-width: 7rem;
    height: 100%;
    height: auto;
  }
  .head{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
  }
  .titulo{
    font-size: 1.6rem;
    color: grey;
    padding: 0.6rem;
    padding-top: 1rem;
  }
  .card{
    margin-left: 1rem;
    margin-right: 1rem;
    margin: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 850px) {
  .descripcion {
    font-size: 1rem;
    padding-left: 2rem;
  }
  .cargo{
    font-size: 1.3rem;
  }
  .nombrecliente{
    font-size: 1rem;
    margin:1rem;
  }
  .responsiveImg{
    margin-left: 1rem;
    max-width: 9rem;
    height: 100%;
    height: auto;
  }
  .head{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
  }
  .titulo{
    font-size: 1.5rem;
    color: grey;
    padding: 1rem;
    padding-top: 2rem;
  }
  .list{
    padding-left:  2rem;
    padding-right: 2rem;
  }
} 


.top{
  border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}



.cargo{
  color: grey;
}
