.responsiveImg{
  margin-left: 1rem;
  max-width: 10rem;
  height: 100%;
  height: auto;
}

.top{
  border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}
.head{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.nombrecliente{
  margin:0rem;
  margin-left:0.5rem;
  display: flex;
  align-items: center;
}

.sesiontoggle{
  display: flex;
  align-items: center;
  text-decoration: none; 
}

.sessionmenu{
  border: transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5rem;
}
.titulo{
  align-items:end;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
}

.person-info:hover{
  background-color: #f2f2f2;
  cursor: pointer;
}

.requerimientos:hover{
  background-color: #f2f2f2;
  cursor: pointer;
}

.person{
  border-radius: 0.5rem;
  padding:1rem;
  padding-top: 0rem;
  display: flex;
  justify-content: center;
}

.icon{
  color:grey;
  font-size: 14px;
  padding-right: 10px;
}

.row-contact{
  width: 98%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}

.headArea{
  display: flex;
  flex-direction: row;
}

.dottoggle::after {
  content: none; 
  align-items: end;
}

.dottoggle{
  color:grey;
}

.dotmenu{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border:transparent;
  min-width: 8rem;
  font-size: 14px;
}