@media only screen and (max-width: 600px) {
  .card {width: 20rem;}
  .form-floating{width: 17rem;font-size:13px;}
  .btn-submit{width: 17rem;}
  .footerLog{font-size:13px;}
  .brandlogo{width: 15rem;height:7rem;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card {width: 22rem;}
  .form-floating{width: 18rem;font-size:13px;}
  .btn-submit{width: 18rem;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {width: 25rem;}
  .form-floating{width: 21rem;font-size:16px;}
  .btn-submit{width: 21rem;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {width: 27rem;}
  .form-floating{width: 23rem;font-size:16px;}
  .btn-submit{width: 23rem;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {width: 30rem;}
  .form-floating{width: 26rem;font-size:16px;}
  .btn-submit{width: 26rem;}
}