.responsivelogo{
  margin-left: 1rem;
  max-width: 9rem;
  height: auto;
}

.sesiontoggle{
  display: flex;
  align-items: center;
  text-decoration: none; 
}

.sessionmenu{
  border: transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5rem;
}

.nombrecliente{
  margin:0rem;
  margin-left:0.5rem;
  display: flex;
  align-items: center;
}

.head{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.top{
  border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}

.activo{
  border-bottom: 2px solid #e0ae43de;
  color:#d39b23
}
.nav a {
  color:black;
}

.nav a:hover {
  color:#e0ae43de;
}

.tabla{
  padding-left:5rem;
  padding-right:5rem;
  width:100%;
}
.titulo{
  align-items:end;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  color:#595d60;
}

.btn-post{
  width: 15rem;
  border:transparent;
  border-radius: 0.5rem;
  background-color:#e0ae43de;
  border:1px solid #e0ae43de;
  color:white;
  min-height: 2rem;
  padding: auto;
}

.btn-post:hover{
  background-color: #d39b23;
}
.card{
  margin-left: 1rem;
  margin-right: 1rem;
  border:none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cargo{
  font-size: 1.2rem;
  color:#595d60;
  font-weight: bold;
}

.btn-postulantes{
  background-color:#e0ae43de;
  border-radius: 1rem;
  border:1px solid #e0ae43de;
  color:white;
  min-height: 2rem;
}

.btn-postulantes:hover{
  background-color: white;
  border-radius: 1rem;
  border:1px solid #e0ae43de;
  min-height: 2rem;
  color:#e0ae43de;
}

.btn-text{
  text-decoration:none;
  color:white;
}
.btn-postulantes:hover > .btn-text{
  text-decoration:none;
  color:#e0ae43de;
}