.responsivelogo{
  margin-left: 1rem;
  max-width: 9rem;
  height: auto;
}

.badge-danger{
  background-color: #FFC9C9;  
  color:#FF6B6B;
}
.badge-warning{
  background-color: #DEE2E6;
  color: #868E96;
}
.badge-success{
  background-color:#B2F2BB;
  color:#37B24D;
}

.sesiontoggle{
  display: flex;
  align-items: center;
  text-decoration: none; 
}

.sessionmenu{
  border: transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5rem;
}

.nombrecliente{
  margin:0rem;
  margin-left:0.5rem;
  display: flex;
  align-items: center;
}

.head{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.top{
  border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}

.activo{
  border-bottom: 2px solid #e0ae43de;
  color:#d39b23
}
.nav a {
  color:black;
}

.nav a:hover {
  color:#e0ae43de;
}

.tabla{
  padding-left:5rem;
  padding-right:5rem;
  width:100%;
}
.titulo{
  align-items:end;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  color:#595d60;
}

.btn-post{
  width: 15rem;
  border:transparent;
  border-radius: 0.5rem;
  background-color:#e0ae43de;
  border:1px solid #e0ae43de;
  color:white;
  min-height: 2rem;
  padding: auto;
}

.btn-post:hover{
  background-color: #d39b23;
}
.card{
  margin-left: 1rem;
  margin-right: 1rem;
  border:none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cargo{
  font-size: 1.2rem;
  color:#595d60;
  font-weight: bold;
}

.btn-postulantes{
  background-color:#e0ae43de;
  border-radius: 1rem;
  border:1px solid #e0ae43de;
  color:white;
  min-height: 2rem;
}

.btn-postulantes:hover{
  background-color: white;
  border-radius: 1rem;
  border:1px solid #e0ae43de;
  min-height: 2rem;
  color:#e0ae43de;
}

.btn-text{
  text-decoration:none;
  color:white;
}
.btn-postulantes:hover > .btn-text{
  text-decoration:none;
  color:#e0ae43de;
}

@media only screen and (max-width: 600px) {
  .group-cards{
    width: 70rem;
    justify-content: center;
  }
  .section{
    padding-top:1rem;
  }
  .card-subtitle{
      width:fit-content;
  }
  .btn-p{
    background-color:#228BE6 ;
    color: white;
    border: transparent;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
    height: fit-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .text-btn{
    display:none
  }
  .head{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
  }

  .btn-addempresa{
    margin-bottom:1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .responsivelogo{
    display: none;
  }
  .s-logo{
    width: 4rem;
    height: 4rem;
  }
  .nav_back{
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
  }
  .btn-post{
    width: fit-content;
    border:transparent;
    border-radius: 0.5rem;
    background-color:#e0ae43de;
    border:1px solid #e0ae43de;
    color:white;
    min-height: 2rem;
    padding: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content:center;
  }
  
  .btn-post:hover{
    background-color: #d39b23;
  }
  .person-info{
    display: flex;
    justify-content: space-between;
  }

  .card-title{
    padding-right: 0;
    width:80%;
  }
}


@media only screen and (min-width: 600px) {
  .group-cards{
    width: 80rem;
    justify-content: center;
  }
  .card-subtitle{
    width:fit-content;
}
  .card-subtitle{
    width:fit-content;
}
  .search{
    border-bottom: 1px solid grey;
    width: 10rem;
  }
  .btn-addempresa{
    margin-bottom:1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .searchrow{
    padding-right: 2rem;
  }
  .responsivelogo{
    display: none;
  }
  .s-logo{
    width: 4rem;
    height: 4rem;
  }
  .head{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
  }
  .btn-post{
    width: fit-content;
    border:transparent;
    border-radius: 0.5rem;
    background-color:#e0ae43de;
    border:1px solid #e0ae43de;
    color:white;
    min-height: 2rem;
    padding: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content:center;
  }
  
  .btn-post:hover{
    background-color: #d39b23;
  }
  .nav_back{
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
  }
  .person-info{
    display: flex;
    justify-content: space-between;
  }
} 

@media only screen and (max-width: 720px){
  .group-cards{
    width: 80rem;
    justify-content: center;
  }
  .section{
    padding-top:1rem;

  }
  .card-subtitle{
    width:fit-content;
}
  .body-contactos{
    width: 38rem;
  }

  .btn-addempresa{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-bottom:1rem;
    margin-right: 1rem;
    width: 95%;
  }
  .search{
    border-bottom: 1px solid grey;
    width: 13rem;
  }
  .searchrow{
    padding-right: 1rem;
  }
  .iconuser{
    display: block;
  }
  .name{
    display: none;
  }
  .responsivelogo{
    display: none;
  }
  .s-logo{
    width: 4rem;
    height: 4rem;
  }
  .nav_back{
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
  }
  .person-info{
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 720px){
  .group-cards{
    width: 75rem;
    justify-content: center;
  }
  .section{
    padding-top:1rem;
  }
  .card-subtitle{
    width:fit-content;
}

  .body-contactos{
    width: 42rem;
  }
  .btn-addempresa{
    margin-left:4rem;
    margin-bottom:1rem;
    margin-right:8rem;
  }
  .search{
    border-bottom: 1px solid grey;
    width: 13rem;
  }
  .searchrow{
    padding-right: 2rem;
  }
  .responsivelogo{
    display:flex;
    margin-left: 1rem;
    max-width: 9rem;
    height: auto;
  }
  .iconuser{
    display: none;
  }
  .s-logo{
    display: none;
  }
  .btn-post{
    width: 15rem;
    border:transparent;
    border-radius: 0.5rem;
    background-color:#e0ae43de;
    border:1px solid #e0ae43de;
    color:white;
    min-height: 2rem;
    padding: auto;
    justify-content:center;
  }
  
  .btn-post:hover{
    background-color: #d39b23;
  }
  .nav_back{
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
  }
  .person-info{
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1050px){
  .group-cards{
    width: 75rem;
    justify-content: center;
  }
  .section{
    padding-top:1rem;
  }
  .card-subtitle{
    width:fit-content;
}
  .body-contactos{
    width: 65rem;
  }
  .btn-addempresa{
    margin-left:6rem;
    margin-bottom:1rem;
    margin-right:8rem;
  }
  .search{
    border-bottom: 1px solid grey;
    width: 13rem;
  }
  .searchrow{
    padding-right: 4rem;
  }
  .responsivelogo{
    margin-left: 1rem;
    max-width: 9rem;
    height: auto;
  }
  .iconuser{
    display: none;
  }
  .btn-post{
    width: 15rem;
    border:transparent;
    border-radius: 0.5rem;
    background-color:#e0ae43de;
    border:1px solid #e0ae43de;
    color:white;
    min-height: 2rem;
    padding: auto;
    justify-content:center;
  }
  
  .btn-post:hover{
    background-color: #d39b23;
  }
  .nav_back{
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
  }
  .person-info{
    display: flex;
    justify-content: space-between;
  }
}